
/*

TAREFA VIEW
colunas
1: stream
2: meta superior + 1 coluna larga
3: meta superior + 2 colunas largas
4: meta lateral fixo + 2 colunas largas


*/

////////////////////////////////////////////////////////////////////////////////////////////////////
// imports /////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
// @import "helpers";

@import "ui-DEPRECATED";
// @import "placar";
// @import "lista";
@import "stream-DEPRECATED"; // TODO legacy
@import "tarefa-DEPRECATED";
@import "new-post";
@import "login";

@import "animate";


////////////////////////////////////////////////////////////////////////////////////////////////////
// material elements ///////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

// fab
.fab { display: block; width: 56px; height: 56px; border-radius: 50%; background-color: #ef6c00; color: #fff; text-align: center; box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24); }
.fab i { line-height: 56px; }
.toast-active .fab-bottom { transform: translateY(-48px); }


// text fields
.text-field { border: 0; border-bottom: 2px solid #eee; }
.text-field:focus { border-color: #455a64; }


////////////////////////////////////////////////////////////////////////////////////////////////////
// referência z-index //////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
/*

99	#appbar
100	#tarefa, #login, #new-post

110	#backdrop
111 #toast
112	#sidenav, #bottom-sheet, #login

120 #loading

*/
