////////////////////////////////////////////////////////////////////////////////////////////////////
// material elements ///////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

// fab
.fab { display: block; width: 56px; height: 56px; border-radius: 50%; background-color: #ef6c00; color: #fff; text-align: center; box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24); }
.fab i { line-height: 56px; }
.toast-active .fab-bottom { transform: translateY(-48px); }


// bottom sheet
#bottom-sheet { position: fixed; bottom: 0; left: 0; right: 0; padding: 8px 0; background-color: #fff; font-size: 16px; line-height: 1.5; color: rgba(0,0,0,.87);
	overflow: auto; z-index: 112; display: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	will-change: transform; transform: translateY(250px); transform-style: preserve-3d;
	transition-property: transform, opacity; transition-timing-function: cubic-bezier(.4,0,.2,1); transition-duration: .2s;
	-webkit-overflow-scrolling: touch; }

#bottom-sheet h1 { min-height: 56px; padding: 16px 16px 0 16px; font-size: inherit; color: rgba(0,0,0,.54); }
#bottom-sheet .divider { margin-top: 7px; border-top: 1px solid #eee; padding-top: 8px; }
#bottom-sheet a { display: block; padding: 12px 16px 12px 72px; position: relative; }
#bottom-sheet a:hover { background-color: rgba(0,0,0,.1); }
#bottom-sheet a i { display: block; position: absolute; top: 12px; left: 16px; width: 24px; height: 24px; color: #777; line-height: 24px; text-align: center; }

@media (min-width: $column-width * 3) {
//	#bottom-sheet { top: 50%; bottom: auto; left: 50%; right: auto; width: 400px; height: 264px; margin: -132px 0 0 -200px; }
	#bottom-sheet { left: auto; width: 400px; }
}

// text fields
.text-field { border: 0; border-bottom: 2px solid #eee; }
.text-field:focus { border-color: #455a64; }
