////////////////////////////////////////////////////////////////////////////////////////////////////
// tarefa //////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

/*

TAREFA VIEW
colunas
1: stream
2: meta superior + 1 coluna larga
3: meta superior + 2 colunas largas
4: meta lateral fixo + 2 colunas largas


*/

.card.post { width: 100%; }
.card.post .header { padding: 18px 16px 16px 64px; position: relative; }
.card.post .header .autor { font-size: 15px; color: rgba(0,0,0,.9); }
.card.post .header .data { font-size: 12px; color: rgba(0,0,0,.35); }
.card.post .header .data::first-letter { text-transform: uppercase; }
.card.post .header .turma { position: absolute; top: 16px; left: 16px; width: 40px; height: 40px; border-radius: 50%; font-size: 14px; color: #fff; line-height: 40px; text-align: center; }

.card.post .media { padding: 2px; }
.card.post .media li + li { margin-top: 2px; }

.card.post .caption { padding: 8px 16px 16px; font-size: 14px; line-height: 1.45; color: rgba(0,0,0,.7); }
.card.post .caption p + p { margin-top: 12px; }
.card.post .caption a { text-decoration: underline; }

.card.post .result { border-top: 1px solid #dcdcdc; padding: 12px 16px 12px 64px; background-color: #fafafa; font-size: 14px; line-height: 1.45; color: rgba(0,0,0,.7);
 	box-shadow: inset 0 1px 1px #f6f6f6; position: relative; }
.card.post .result .status-indicator { font-weight: 500; color: rgba(0,0,0,.4); text-transform: uppercase; }
.card.post .result .status-indicator.rejected { color: rgba(0,0,0,.8); }
.card.post .result .status-icon { position: absolute; top: 6px; left: 20px; width: 32px; height: 32px; line-height: 32px; text-align: center; }
.card.post .result .status-icon i { line-height: 32px; }
.card.post .result .message { }


@media (min-width: $column-width * 2) {
	// .app-tarefa .tarefa-body { top: 0; }

	// .app-tarefa { background-color: rgba($background-color,.92); }

	// .app-tarefa .appbar { background-color: transparent; color: #263238; box-shadow: 0 0 0; }
	// .app-tarefa .appbar .numero { display: none; }

	.app-tarefa .card-l { width: 616px; }

	// .app-tarefa .posts { width: 632px; padding: 0 8px; }

	// .app-tarefa .painel .placar { width: 300px; }
}

@media (min-width: $column-width * 3) {
	// .app-tarefa .posts { width: $large-column-width * 2; }
	.app-tarefa .card-l { width: 500px; }
}

// @media (min-width: $column-width * 4) {
// 	// .app-tarefa .tarefa-body { padding-top: 64px; }
//
// 	// .app-tarefa .painel { position: fixed; }
// 	// .app-tarefa .posts { margin-left: 324px; }
// }
