////////////////////////////////////////////////////////////////////////////////////////////////////
// ui settings /////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

// cores
$background-color: #f8f8f9;
$text-color: #666;

// fontes
$default-font-size: 17px;
$default-font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif;
$default-font: $default-font-size $default-font-family;

// lista
$gutter: 16px;
$column-width: 300px + $gutter;
$large-column-width: 500px + $gutter;

$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


////////////////////////////////////////////////////////////////////////////////////////////////////
// appbar //////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
$appbar-height: 56px;
$appbar-height-widebody: 64px;

// $appbar-height-bigger: $appbar-height-4columns; // TODO deprecated


////////////////////////////////////////////////////////////////////////////////////////////////////
// livesite ////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
$livesite-height-widebody: 84px;


////////////////////////////////////////////////////////////////////////////////////////////////////
// z-index /////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
$z-index-appbar: 20;
$z-index-sidenav: 30;
$z-index-lista: 10;
$z-index-tarefa: 40;
$z-index-loadbar: 50;
