//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- common

template#card-tarefa
	li.ui-card.card-tarefa
		a.fill(href="#", data-fill="href: url")
			.header
				.numero Tarefa&nbsp;
					span.fill(data-fill="numero")
				.titulo.fill(data-fill="titulo")
				time.last-modified.fill(data-fill="ultima-postagem")
			.media.media-wrapper.fill(data-fill="style: imagem-aspecto")
				img.fill(data-fill="src: imagem-url")
			.body
				.descricao.fill(data-fill="descricao")
				.pontuacao.fill(data-fill="pontuacao")
			ul.grid
