//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- placar

template#placar-turma
	li.fill(data-fill="class: turma")
		.bar.turma-background.fill(data-fill="style: altura-da-barra")
			.turma-text
				strong.fill(data-fill="turma-formatada")
				span.points.fill(data-fill="pontuacao-formatada")
