////////////////////////////////////////////////////////////////////////////////////////////////////
// card ////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.ui-card
	margin-bottom: 8px
	border-radius: 2px
	background-color: #fff
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.12)
	position: relative
	transition: box-shadow cubic-bezier(.4,0,.2,1) .2s

	@media (min-width: $column-width * 2)
		margin-bottom: 16px

////////////////////////////////////////////////////////////////////////////////////////////////////

.card-tarefa
	@media (min-width: $column-width * 2)
		width: 300px

	> a
		display: block

	&.fantasma
		opacity: .5

		.titulo
			opacity: .5

	.app-lista &:hover
		box-shadow: 0 2px 6px rgba(0,0,0,.24)

	// header
	.header
		padding: 28px 16px 16px

		.numero
			margin-bottom: 4px
			font-size: 14px
			color: rgba(0,0,0,.35)

		.titulo
			font-size: 24px
			color: rgba(0,0,0,.9)

		.last-modified
			display: none

	// media
	.media
		margin-bottom: 16px

	// body
	.body
		padding: 5px 24px 24px 16px

		.descricao
			color: rgba(0,0,0,.7)
			line-height: 1.4

		.pontuacao
			margin-top: 12px
			font-size: 14px
			color: rgba(0,0,0,.42)

	//////////////////////////////////////////////////////////////////////////////////////////////////

	.grid
		padding: 2px

		&::after
			@extend %clear

		li
			float: left
			width: 33.3%
			padding: 1px



// .card.tarefa .grid .media-placeholder { padding-top: 100%; position: relative; }
// 	.card.tarefa .grid .tile { position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 4px 6px; overflow: hidden; }
// 	.card.tarefa .grid .tile-image { background: #e9e9e9 no-repeat center; background-size: cover; }
// 	.card.tarefa .grid .tile-text { background-color: #f1f4ba; font-size: 12px; text-overflow: clip; }
// 	.card.tarefa .grid .tile-more { padding-top: 28%; background-color: rgba(0,0,0,.6); font-size: 36px; color: #fff; text-align: center; display: none; }
// 	.card.tarefa .grid .tile-play { padding-top: 26%; color: #fff; text-align: center; display: none; }
// 	.card.tarefa .grid .tile-play i { font-size: 54px; }
// 	.card.tarefa .grid .more .tile-more { display: block; }
// 	.card.tarefa .grid .video .tile-play { display: block; }
//
// .card.tarefa .grid li div span { position: absolute; bottom: 0; display: inline-block; padding: 0 4px; background-color: #333; color: #fff; }
//
// #stream .card.tarefa:hover {
// 	box-shadow: 0 2px 6px 0 rgba(0,0,0,.28), 0 3px 3px -2px rgba(0,0,0,.4), 0 1px 15px 0 rgba(0,0,0,.24);
// }
//
// @media (min-width: $column-width * 2) {
// 	#stream .card { width: 300px; }
// 	.card.tarefa .grid li { width: 25%; padding: 1px; }
// 	.card.tarefa .grid .tile-text { font-size: 10px; }
// 	.card.tarefa .grid .tile-more { font-size: 24px; }
// 	.card.tarefa .grid .tile-play { padding-top: 18%; }
// 	.card.tarefa .grid .tile-play i { font-size: 48px; }
// }
