////////////////////////////////////////////////////////////////////////////////////////////////////
// lista typography ////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.ui-tarefa {
	.tarefa-designacao {

	}

	.tarefa-numero {
		font-size: 13px;
		color: rgba(#000, 0.35);
	}

	.tarefa-titulo {
		font-size: 22px;
		font-family: lato, sans-serif;
		color: rgba(#000, 0.9);
	}

	.tarefa-midia {

	}

	.tarefa-corpo {

	}

	.tarefa-descricao {
		color: rgba(#000, 0.7);
		line-height: 1.5;
	}

	.tarefa-pontuacao {

	}
}
