//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- app evolução

.app-evolucao
	//- .lista-container.container
	.timeline
		.elapsed-time
			.bar
		ul.day-labels

template#evolucao-dia
	li.fill(data-fill="dia")
		//- .day-bar
