//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- placar

template#placar-turma
	li.fill(data-fill="class: turma")
		.barra.turma-border.turma-text.fill(data-fill="style: tamanho-da-barra")
			.turma.fill(data-fill="turma-formatada")
			.pontuacao.fill(data-fill="pontuacao-formatada")
