//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- lista

template#tile-image
	li.fill(data-fill="class: modifier")
		.media-placeholder
			.tile.tile-image.fill(data-fill="style: preview")
			.tile.tile-more.fill(data-fill="more")
			.tile.tile-play
				i.material-icons &#xE037;

template#tile-text
	li.fill(data-fill="class: modifier")
		.media-placeholder
			.tile.tile-text.fill(data-fill="preview")
			.tile.tile-more.fill(data-fill="more")
