//- ////////////////////////////////////////////////////////////////////////////////////////////////
//- placar

template#placar-turma
	li.fill(data-fill="class: turma")
		.label.turma-text.fill(data-fill="turma-formatada")
		.score.fill(data-fill="style: largura-da-barra")
			.bar.turma-background
			.points.turma-text.fill(data-fill="pontuacao-formatada")
