////////////////////////////////////////////////////////////////////////////////////////////////////
// lista ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
main {
	display: block;
	position: relative;
	z-index: $z-index-lista;
}

.app-lista {
	&::after {
		@extend %clear;
	}

	.card {
		width: 100%;
	}
}

.lista-capa {
	.mensagem-final {
		padding: 44px 0 64px;
		font: 24px montserrat, sans-serif;
		color: rgba(#000, .2);
		text-align: center;
		text-transform: uppercase;
	}
}
