////////////////////////////////////////////////////////////////////////////////////////////////////
// login ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.app-login {
	z-index: $z-index-login;
	// display: none;

	@media ($--narrowbody) {
		.appbar-actions-right {
			display: none;
		}
	}

	@media ($--widebody) {
		top: 50%;
		bottom: auto;
		left: 50%;
		right: auto;
		width: 400px;
		height: 400px;

		&.in {
			transform: translate(-50%,-50%) !important;
		}

		.modal-container {
			padding-top: 64px;
		}

		header h1 {
			padding-left: 20px;
		}

		.appbar-actions-left {
			display: none;
		}
	}

	header {

	}

	.form-group {
		margin: 44px 0 16px;

		input {
			border: solid #ddd;
			border-width: 1px 1px 0 1px;
			padding: 8px;
			font-size: 18px;

			&:first-child {
				border-radius: 3px 3px 0 0;
			}

			&:last-child {
				border-bottom-width: 1px;
				border-radius: 0 0 3px 3px;
			}
		}
	}

	input,
	button {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		font-size: 16px;
	}

	.btn {
		border: 0;
		border-radius: 2px;
		padding: 0 8px;
		background-color: #607d8b;
		font-weight: 500;
		font-size: 14px;
		color: #fff;
		line-height: 36px;
		text-transform: uppercase;
		box-shadow:
			0 2px 2px 0 rgba(#000, 0.14),
			0 3px 1px -2px rgba(#000, 0.2),
			0 1px 5px 0 rgba(#000, 0.12);
		cursor: pointer;
	}
}
