////////////////////////////////////////////////////////////////////////////////////////////////////
// post card ///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
.post-card {
	// @include scaffolding(#0fa);
	margin-bottom: $gutter * 1.5;

	@media ($--from-4columns) {
		width: 500px;
	}


	//////////////////////////////////////////////////////////////////////////////////////////////////
	// body //////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////

	.post-body {
		margin-bottom: 8px;

	}


	//////////////////////////////////////////////////////////////////////////////////////////////////
	// label /////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////

	.post-label {
		// @include scaffolding;
		// padding: 0 16px;

		&::after {
			@include pseudo-clearfix;
		}

		.post-turma {
			float: left;
		}

		.post-bullet {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 4px;
			border: 1px solid;
			border-radius: 50%;
		}

		.post-date {
			margin-left: 4px;
			font-size: 0.8em;
			color: rgba(#000, .3);
		}
	}


	//////////////////////////////////////////////////////////////////////////////////////////////////
	// rating ////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////

	.post-rating {
		// @include scaffolding;


	}

	//////////////////////////////////////////////////////////////////////////////////////////////////
	// media /////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////
	.post-media {
		li {
			&:first-child img {
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}

			&:last-child img {
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}

			& + li {
				margin-top: 1px;
			}
		}
	}

	.post-caption {
		padding: 16px 24px 24px 16px;
	}

	// se não tiver mídia, aumenta o padding superior
	&.no-media .post-caption {
		padding-top: 24px;
	}
}
