////////////////////////////////////////////////////////////////////////////////////////////////////
// media queries ///////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$--only-1column: "max-width: (#{$column-width} * 2)";

$--from-2columns: "min-width: (#{$column-width} + #{$gutter}) * 2";
$--from-3columns: "min-width: (#{$column-width} + #{$gutter}) * 3";
$--from-4columns: "min-width: (#{$column-width} + #{$gutter}) * 4";

$--narrowbody: $--only-1column;
$--widebody: $--from-2columns;
